<ng-container *ngIf="cards(); else table">
  <ol class="player-cards" aria-label="Mythic+ players ranked by score: the sum of their best run in each dungeon" *ngIf="rows().length; else empty">
    <li *ngFor="let row of rows(); trackBy: trackPlayer" [class.highlighted]="row.key === highlightKey()" [class.picked]="pickedKeys().has(row.key)">
      <a class="player-card" [class.picking]="pickMode()" [routerLink]="row.member.profileLink" (click)="onLink($event, row)">
        <span class="pick-box" *ngIf="pickMode()" aria-hidden="true"></span>
        <span class="card-rank" [ngClass]="'q-' + row.quality">
          <span class="rank-metric">
            <span><span class="visually-hidden">Rank </span>{{ row.rank }}</span>
            <span
              *ngIf="row.change?.rank as rankChange"
              class="rank-change"
              [class.up]="rankChange > 0"
              [class.down]="rankChange < 0"
              [attr.title]="rankChangeLabel(rankChange)"
              [attr.aria-label]="rankChangeLabel(rankChange)">
              <span aria-hidden="true">{{ rankChange > 0 ? '▲' : '▼' }} {{ rankChange < 0 ? -rankChange : rankChange }}</span>
            </span>
            <span *ngIf="row.newSinceLastScan" class="player-new" title="New since the last scan">new</span>
          </span>
        </span>
        <span class="card-body">
          <span class="card-line">
            <span class="player-icons">
              <img class="class-icon" [src]="row.member.classIcon" [alt]="row.member.className" />
              <span class="spec-icon" *ngIf="row.member.specIcon">
                <img [src]="row.member.specIcon" alt="" />
              </span>
            </span>
            <span class="card-name" [style.color]="row.member.color">{{ row.member.name }}</span>
            <span class="card-realm">{{ row.member.realm }}</span>
          </span>
          <span class="card-guild" *ngIf="row.member.guild">&lt;{{ row.member.guild }}&gt;</span>
          <span class="card-bests" *ngIf="singleDungeon(); else dungeonChips">
            <ng-container *ngIf="row.bests[0] as best">
              <span class="level" [class.over-time]="!best.timed">
                <span class="level-value">+{{ best.keyLevel }}</span>
                <span class="level-star" *ngIf="best.timed">{{ upgradeStars(best.upgrades) }}<span class="visually-hidden"> timed +{{ best.upgrades }}</span></span>
              </span>
              <span class="card-time" [class.over-time]="!best.timed">{{ best.clearTime }}</span>
            </ng-container>
          </span>
          <ng-template #dungeonChips>
            <span class="card-bests">
              <span
                class="best-chip"
                *ngFor="let best of playedBests(row)"
                [class.over-time]="!best.timed">{{ best.dungeon.shortName }} <b>+{{ best.keyLevel }}</b><span class="visually-hidden" *ngIf="!best.timed"> over time</span></span>
            </span>
          </ng-template>
        </span>
        <span
          class="card-score"
          [class.has-score-change]="!!row.change?.score"
          [class.score-gained]="(row.change?.score ?? 0) > 0">
          <span><span class="visually-hidden">Score </span>{{ row.score | number:'1.1-1' }}</span>
          <ng-container *ngIf="row.change?.score as scoreChange">
            <span class="score-tooltip" aria-hidden="true">{{ scoreChangeLabel(scoreChange) }}</span>
            <span class="visually-hidden">. {{ scoreChangeLabel(scoreChange) }}</span>
          </ng-container>
          <span *ngIf="row.newSinceLastScan" class="player-new" title="New since the last scan">new</span>
        </span>
      </a>
    </li>
  </ol>
</ng-container>

<ng-template #empty>
  <p class="empty-cards">{{ emptyMessage() }}</p>
</ng-template>

<ng-template #table>
  <div class="table-scroll">
    <table class="players-table">
      <caption class="visually-hidden">Mythic+ players ranked by score: the sum of their best run in each dungeon</caption>
      <thead>
        <tr>
          <th scope="col" class="col-pick" *ngIf="pickMode()"><span class="visually-hidden">Picked</span></th>
          <th scope="col">Rank</th>
          <th scope="col" class="col-player">Player</th>
          <th scope="col" class="col-guild">Guild</th>
          <ng-container *ngIf="singleDungeon(); else dungeonColumns">
            <th scope="col">Best key</th>
            <th scope="col">Time</th>
          </ng-container>
          <ng-template #dungeonColumns>
            <th scope="col" class="col-best" *ngFor="let dungeon of dungeons(); trackBy: trackDungeon" [title]="dungeon.name">
              {{ dungeon.shortName }}
            </th>
          </ng-template>
          <th scope="col" class="col-score-heading"><span>Score</span></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="player-row"
          *ngFor="let row of rows(); let odd = odd; trackBy: trackPlayer"
          [class.alt]="odd"
          [class.highlighted]="row.key === highlightKey()"
          [class.picked]="pickedKeys().has(row.key)"
          (click)="openProfile(row)">
          <td class="col-pick" *ngIf="pickMode()"><span class="pick-box" aria-hidden="true"></span></td>
          <td class="col-rank" [ngClass]="'q-' + row.quality">
            <span class="rank-metric">
              <span class="metric-value">{{ row.rank }}</span>
              <span
                *ngIf="row.change?.rank as rankChange"
                class="rank-change"
                [class.up]="rankChange > 0"
                [class.down]="rankChange < 0"
                [attr.title]="rankChangeLabel(rankChange)"
                [attr.aria-label]="rankChangeLabel(rankChange)">
                <span aria-hidden="true">{{ rankChange > 0 ? '▲' : '▼' }} {{ rankChange < 0 ? -rankChange : rankChange }}</span>
              </span>
              <span *ngIf="row.newSinceLastScan" class="player-new" title="New since the last scan">new</span>
            </span>
          </td>
          <td class="col-player">
            <span class="player-identity">
              <span class="player-icons">
                <img class="class-icon" [src]="row.member.classIcon" [alt]="row.member.className" />
                <span class="spec-icon" *ngIf="row.member.specIcon">
                  <img [src]="row.member.specIcon" alt="" />
                </span>
              </span>
              <a
                class="member-link"
                [routerLink]="row.member.profileLink"
                [style.color]="row.member.color"
                [attr.aria-label]="'Open the profile of ' + row.member.name"
                (click)="onLink($event, row)">{{ row.member.name }}<span class="profile-tooltip" aria-hidden="true">
                  {{ pickMode() ? 'Pick ' + row.member.name + ' to compare' : 'Open the profile of ' + row.member.name }}
                </span></a>
              <span class="player-realm">{{ row.member.realm }}</span>
            </span>
          </td>
          <td class="col-guild">{{ row.member.guild }}</td>
          <ng-container *ngIf="singleDungeon(); else dungeonCells">
            <ng-container *ngIf="row.bests[0] as best">
              <td class="col-level" [class.over-time]="!best.timed">
                <span class="level">
                  <span class="level-value">+{{ best.keyLevel }}</span>
                  <span class="level-star" *ngIf="best.timed" [title]="'Timed, +' + best.upgrades">{{ upgradeStars(best.upgrades) }}<span class="visually-hidden"> timed +{{ best.upgrades }}</span></span>
                </span>
              </td>
              <td class="col-time" [class.over-time]="!best.timed">{{ best.clearTime }}</td>
            </ng-container>
          </ng-container>
          <ng-template #dungeonCells>
            <td
              class="col-best"
              *ngFor="let best of row.bests"
              [class.over-time]="!best?.timed"
              [title]="bestTitle(best)">
              {{ best ? '+' + best.keyLevel : '–' }}
            </td>
          </ng-template>
          <td class="col-score">
            <span
              class="score-metric"
              [class.has-score-change]="!!row.change?.score"
              [class.score-gained]="(row.change?.score ?? 0) > 0"
              [attr.tabindex]="row.change?.score ? 0 : null">
              <span class="metric-value">{{ row.score | number:'1.1-1' }}</span>
              <ng-container *ngIf="row.change?.score as scoreChange">
                <span class="score-tooltip" aria-hidden="true">{{ scoreChangeLabel(scoreChange) }}</span>
                <span class="visually-hidden">. {{ scoreChangeLabel(scoreChange) }}</span>
              </ng-container>
              <span *ngIf="row.newSinceLastScan" class="player-new" title="New since the last scan">new</span>
            </span>
          </td>
        </tr>

        <tr class="empty-row" *ngIf="rows().length === 0">
          <td [attr.colspan]="(singleDungeon() ? 6 : dungeons().length + 4) + (pickMode() ? 1 : 0)">{{ emptyMessage() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
